<div class="btn-group nav league-row" id="leagueSelect">
  <button class="btn btn-white" type="button">
    <% if @user.current_league %>
      <%= @user.current_league.name %>
    <% else %>
      Join a League!
    <% end %>
  </button>
  <button data-toggle="dropdown" class="btn btn-white dropdown-toggle" type="button" aria-expanded="true"><span class="caret"></span></button>
  <ul role="menu" class="dropdown-menu">
    <% @user.leagues.uniq.each do |league| %>
      <% if league != @user.current_league %>
        <li><%= link_to league.name, league_path(league) %></li>
      <% end %>
    <% end %>
  </ul>
</div>