<div className="modal fade" id="newMatchModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div className="modal-dialog">
    <div className="modal-content">
      <div className="modal-header">
        <button type="button" className="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 className="modal-title">Default Modal Tittle</h4>
      </div>
      <div className="modal-body">

          Body goes here...

      </div>
      <div className="modal-footer">
        <button data-dismiss="modal" className="btn btn-default" type="button">Close</button>
        <button className="btn btn-success" type="button">Save changes</button>
      </div>
    </div>
  </div>
</div>