/* NEW MATCH */

ul.select-list {
  border: 1px solid #e2e2e4;
  height: 200px;
  overflow-y: scroll;
  border-radius: 3px;
}

ul.select-list li {
  padding: 2px 10px;
  font-size: 14px;
  border-bottom: 1px solid #eee;
}

ul.select-list li:hover {
  background-color: #2A3542;
  color: #FFFFFF;
  cursor: pointer;
}

.search-input {
  margin-bottom: 8px;
}

.remove-selected-item {
  line-height: 19px;
  float: right;
  cursor: pointer;
}

li.selected-item {
  background: #dff0d8;
  border-bottom: 1px solid #e2e2e4 !important;
  cursor: inherit !important;
}

.detail-date {
  text-align: center;
  font-size: 24px;
  margin-top: 25px;
}

.detail-time {
  text-align: center;
  font-size: 24px;
}

.detail-location {
  text-align: center;
  font-size: 24px;
  margin: 25px 0;
}

.set-up-match {
  text-align: center;
}