<ul class="sidebar-menu" id="nav-accordion">
  <li>
    <%= link_to root_path do %>
      <i class="fa fa-home"></i>
      <span>Dashboard</span>
    <% end %>
    <%= link_to new_match_path do %>
      <i class="fa fa-futbol-o"></i>
      <span>New Match</span>
    <% end %>
  </li>
</ul>