<ul class="sidebar-menu" id="nav-accordion">
  <li>
    <%= link_to root_path do %>
      <i class="fa fa-home"></i>
      <span>Dashboard</span>
    <% end %>
  </li>
  <li>
    <%= link_to new_match_path do %>
      <i class="fa fa-futbol-o"></i>
      <span>New Match</span>
    <% end %>
  </li>
  <li>
    <%= link_to matches_path do %>
      <i class="fa fa-list"></i>
      <span>Matches</span>
    <% end %>
  </li>
  <li>
    <%= link_to user_path id: current_user.id do %>
      <i class="fa fa-user"></i>
      <span>Profile</span>
    <% end %>
  </li>
</ul>
